{% extends "jsonHTTPDockersALL/master_httpdocksjabir.html" %} {% block title %}Upload{% endblock %} {% block main %}


   <link rel="stylesheet"  href="{{ url_for('static', filename='css/normal_views/navbar.css') }}"/>


<style>
/* css for dropdown */
.dropbtn {
  background-color: rgba(0,0,0,0.9);
  color: white;
  padding: 21px;
  font-size: 14px;
  border: none;
  cursor: pointer;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: -10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ff343c; color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #ff343c;}


.carousel-inner{
  height: 720px;
}

.carousel{
  height: 780px;
}

.carousel-indicators{
  top: 620px;
}

#sam{

  margin-left: 164px;
  margin-right: -116px;
}

  #carouselExampleControls{
  width: 86%;
  margin: -17% auto;
}

#hht{

  margin-top: -442px;
}

.letter,footer {
  background: black;
  color: #fff;
  padding: 1px;
  font-size: 14;
  text-align: center;
}

.row{

  margin-right: 0px;
}

</style>



<header style="height: 65px;">
  <!--  Remove dark nav  -->
  <nav class="nav dark-nav">
    <div class="container">
      <div class="nav-heading">
        <button class="toggle-nav" data-toggle="open-navbar1"><i class="fa fa-align-right"></i></button>
            <a href="{{ url_for('home')}}" >
        <img src="{{ url_for('static', filename='img/asmilogo.png') }}" width="106" height="53"  alt="Logo Geeks and the City" />    
        </a>
      </div>
      <div class="menu" id="open-navbar1">
        <ul class="list">
 <!--          <li><a href="{{ url_for('home')}}">Welcome  {{current_username}}</a></li> -->

          <li><a href="{{ url_for('home')}}">Home</a></li>
          <!-- <li><a href="/product.html">Product Upload</a></li> -->
          {% if current_user.is_authenticated %}

          <!-- drop down -->
          <li>
           <div class="dropdown" style="float:right;">
              <button class="dropbtn">Contents</button>
              <div class="dropdown-content">
                <a href="{{ url_for('uploaded')}}">Uploaded Video</a>
                <!-- <a href="Generated.html">Generated Video</a> -->
                <a href="{{ url_for('analytics')}}">Analytics Files</a>
              </div>
          </li>

          <li>
            <div class="dropdown" style="float:right;">
              <button class="dropbtn">TestAPI</button>
              <div class="dropdown-content">
                <!-- <a href="#">Upload Video</a> -->
                <a href="{{ url_for('upload')}}">Upload video</a>
                <a href="{{ url_for('viewvideos_jabir')}}">View Uploaded Videos</a>
                <!-- <a href="{{ url_for('view_2d')}}">View 2d Video</a> -->
              </div>
            </div>
          </li>

         <li>
            <div class="dropdown" style="float:right;">
              <button class="dropbtn">Setting</button>
              <div class="dropdown-content">
                <a href="{{ url_for('view_profile')}}">Profile</a>
                <a href="{{ url_for('logout')}}">Logout</a>
                
                </div>
            </div>
          </li>
          {% else %}
            <li><a href="{{ url_for('login')}}">Login</a></li>
            <li><a href="{{ url_for('register')}}">Signup</a></li>
          {% endif %}
          <li><a href="{{ url_for('aboutus')}}">About Us</a></li>
          </div>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- end -->



<div class="alert_msg"></div>
<div class="container">

    <form method="POST" action="/upload" enctype="multipart/form-data">
        <main class="main_full" style="border:1px solid ;">
            <div class="container">

                <script>
                    function send() {
                        var options = document.getElementsByName("options");
                        var selected = false;

                        for (var i = 0; i < options.length; i++) {
                            if (options[i].checked == true) {
                                selected = true;
                            }
                        }
                        if (!selected) {
                            $('.alert_msg').notify(
                                "You must select at least one item to inject.", {
                                    className: "warn",
                                    position: "top center"
                                }
                            );
                            return false;
                        }

                    }
                </script>

                <h4>What do you want to inject ?</h4>

                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                        <input type="radio" name="options" required="true" id="shirt" autocomplete="off" value="1"> Bottle
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="options" required="true" id="tie" autocomplete="off" value="2" > Dog
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="options" required="true" id="shoe" autocomplete="off" value="3"> Car
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="options" required="true" id="glass" autocomplete="off" value="4"> Sofa
                    </label>

                    <label class="btn btn-secondary">
                        <input type="radio" name="options" required="true" id="coke" autocomplete="off" value="5"> Motorbike
                    </label>

                    <label class="btn btn-secondary">
                        <input type="radio" name="options" required="true" id="oreo" autocomplete="off" value="6"> Person
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="options" required="true" id="oreo" autocomplete="off" value="7"> Tie
                    </label>
                    

                </div>

                <div class="panel">
                    <p class="loading_text"></p>
                    <div class="button_outer">
                        <div class="btn_upload">
                            <input oninput="videosize(this);" type="file" class="form-control" name="videofile" id="video" onclick="return send();" />
                            <i class="fa fa-paperclip 3x"></i> Choose File
                        </div>
                        <div class="processing_bar"></div>
                        <div class="success_box"></div>
                    </div>
                </div>
                <div class="msg_btn">
                    <div class="error_msg"></div>
                    <div class="success_msg"></div>
                    <div class="btn-submit"></div>
                </div>
            </div>
        </main>
    </form>

    <script src="{{ url_for('static', filename='js/normal_views/upload.js')}}"></script>
    <script src="{{ url_for('static', filename='js/normal_views/notify.js')}}"></script>
    <script>
        $(document).ready(function() {
            $('.alert_msg').notify(
                "{{message}}", {
                    className: "{{category}}",
                    position: "top center"
                }
            );
        });
    </script>

</div>

<script>
    function videosize(elem) {
        console.log(elem.files[0].size)
        document.cookie = `videosize=${elem.files[0].size}`
    }

    function csvsize(elem) {
        console.log(elem.files[0].size)
        document.cookie = `csvsize=${elem.files[0].size}`
    }
</script>
{% endblock %}