    <html>

   <!-- Links for login page -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normal_views/bootstrap.css') }}">      
    <script defer src="{{ url_for('static', filename='js/normal_views/solid.js') }}" ></script>
    <script defer src="{{ url_for('static', filename='js/normal_views/fontawesome.js') }}"></script>
    <!-- end -->

<style>
    .title{text-align: center; font-weight: 100; color: #333;} 
    .btn{background:#e02222;; color:#ddd; margin-left: 180px;}
    .loginform{width:500px; margin:0 auto; border:1px solid #ccc;
    padding:20px; border-radius:15px;margin-top:200px;border-top:5px solid #e02222;
    border-bottom:5px solid #ccc;}
    .form-control{display:inline-block;width:400px;}
</style>
<!-- ########################Register############################################ -->
    <h1>Register</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>




<!-- ########################################################################### -->
<!-----------------------------------------------------login form------------------------------------>
<!-- <div class="loginform"> 
   <img src="{{ url_for('static', filename='img/asmilogo.png') }}" width="106" height="53"  alt="Logo Geeks and the City" style="margin-left: 158px;" /> 
<form method="POST" action="/signup">
  
    {{form.csrf_token}}

    {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
      </div>
    {% endfor %} -->
<!-- #######################RAGHIB#########################################3 -->
<!--   <div class="form-group">    
     <i class="fas fa-envelope"></i>
    <input type="email" class="form-control" id="email" placeholder="E-mail">
  </div>



  <div class="form-group">    
     <i class="fas fa-user"></i>
    <input type="username" class="form-control" id="username" placeholder="username">
        {% if form.username.errors %}
          <ul class="errors">
            {% for error in form.username.errors %}<li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
  </div>


    
  <div class="form-group">  
       <i class="fas fa-lock"></i>
    <input type="password" class="form-control" id="password" placeholder=" Password">
  </div> 
    
    <div class="form-group">  
       <i class="fas fa-lock"></i>
    <input type="password" class="form-control" id="confirm" placeholder="Confirm-Password">
  </div> 

 -->

<!-- #################MACROS####################################### -->
<!--     {% import "macros/asmi_macros.html" as im %}


      {{ im.render_field(form.username,iconClass="fa-envelope",placeholder="Username") }}
      {{ im.render_field(form.email,iconClass="fa-user",placeholder="Email") }}
      
      {{ im.render_field(form.password,iconClass="fa-lock",placeholder="Password") }}
      {{ im.render_field(form.confirm,iconClass="fa-lock",placeholder="Confirm Password") }}
 -->      



<!-- ##########################FLASKTUTORIAL##############################3333 -->
<!-- 
  <div class="form-group">  
       <i class="fas fa-envelope"></i>

       <div class={{form.email.name}}>

          {{ form.email(placeholder='Email',class='form-control') }}

          {% if form.email.errors %}
            <ul class="errors">
              {% for error in form.email.errors %}<li>{{ error }}</li>{% endfor %}
            </ul>
          {% endif %}

       </div>


  </div> 

  <div class="form-group">  
       <i class="fas fa-user"></i>
       {{ form.username(placeholder='Username',class='form-control') }}
        {% if form.username.errors %}
          <ul class="errors">
            {% for error in form.username.errors %}<li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}

  </div> 
  <div class="form-group">  
       <i class="fas fa-lock"></i>
       {{ form.password(placeholder='Password',class='form-control') }}
        {% if form.password.errors %}
          <ul class="errors">
            {% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}

  </div> 
  <div class="form-group">  
       <i class="fas fa-lock"></i>
       {{ form.confirm(placeholder='Confirm Password',class='form-control') }}
        {% if form.confirm.errors %}
          <ul class="errors">
            {% for error in form.confirm.errors %}<li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}

  </div>  -->
<!-- ################################AuthTuto##########################################
      <h1>Sign Up</h1>
      <div class="username">
        {{ form.username.label }}
        {{ form.username(placeholder='John Smith') }}
        {% if form.username.errors %}
          <ul class="errors">
            {% for error in form.username.errors %}<li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="email">
        {{ form.email.label }}
        {{ form.email(placeholder='youremail@example.com') }}
        {% if form.email.errors %}
          <ul class="errors">
            {% for error in form.email.errors %}<li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="password">
        {{ form.password.label }}
        {{ form.password }}
        {% if form.password.errors %}
          <ul class="errors">
            {% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="confirm">
        {{ form.confirm.label }}
        {{ form.confirm }}
        {% if form.confirm.errors %}
          <ul class="errors">
            {% for error in form.confirm.errors %}<li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </div> -->










  <button type="submit" class="btn btn-default"> <i class="fas fa-sign-in-alt fa-lg "></i> Signup </button>
</form>
<section class="social">

  <i class=""></i>
</section>
</div>
<!------------------------------------------------------------end login form--------------------------------------------------->
</html>