{% extends "public/stripe_master.html" %}

{% block title %}
	Payment Intent
{% endblock %}


{% block content %}

	Inside the page creating payment intents
	The amount is {{ amount }}
	Client secret is {{client_secret}}

	<div id="card-element">
	  <!-- Elements will create input elements here -->
	</div>

	<!-- We'll put the error messages in this element -->
	<div id="card-errors" role="alert"></div>

	<button id="submit">Pay</button>

{% endblock %}


{% block script %}
	<script src="https://js.stripe.com/v3/"></script>

	<script type="text/javascript">

		function stripefunc(){

			// alert({{amount}});
			// alert("{{client_secret}}");

			var stripe = Stripe("{{pub_key}}");
			
			var elements = stripe.elements();

			var style = {
			  base: {
			    color: "#32325d",
			  }
			};

			var card = elements.create("card", { style: style });
			card.mount("#card-element");

			card.addEventListener('change', ({error}) => {
			  const displayError = document.getElementById('card-errors');
			  if (error) {
			    displayError.textContent = error.message;
			  } else {
			    displayError.textContent = '';
			  }
			});

			var submitButton = document.getElementById('submit');

			submitButton.addEventListener('click', function(ev) {
			  stripe.confirmCardPayment("{{client_secret}}", {
			    payment_method: {
			      card: card,
			      billing_details: {
			        name: "{{customer_name}}"
			      }
			    }
			  }).then(function(result) {
			    if (result.error) {
			      // Show error to your customer (e.g., insufficient funds)
			      alert("Error check console")
			      console.log(result.error.message);
			    } else {
			      // The payment has been processed!
			      if (result.paymentIntent.status === 'succeeded') {
			        // Show a success message to your customer
			        // There's a risk of the customer closing the window before callback
			        // execution. Set up a webhook or plugin to listen for the
			        // payment_intent.succeeded event that handles any business critical
			        // post-payment actions.

			        alert("Successfull payment")
			      }
			    }
			  });
			});

		}
		window.onload=stripefunc;

	</script>
{% endblock %}

