{% extends "demo_views/masterforinjection.html" %}

{% block title %}2D{% endblock %}


{% block main %}
<link rel="stylesheet" href="{{url_for('static',filename='css/normal_views/canvas_style.css')}}"/>
 
    <div class="container1">
        <div class="padding-container">
            <div class="selector" id="selector"></div>
        </div>
        <div class="video-container-outer">
            <div class="video-stage" id="stage">
                <div class="interaction-overlay" id="interaction_overlay"></div>
                <canvas id="market_overlay" width="100" height="100" class="market-overlay overlay-video"></canvas>
                <video class="video" id="video" controls>
					<!-- <source src="{{main_video_url}}" type="video/mp4" /> -->
                    <source src="{{url_for('static',filename='video/uploaded/20200229134607AngreziMediumLowerQuality.mp4')}}" type="video/mp4" />
					 Your browser does not support playing HTML5 videos.
                </video>
            </div>
        </div>
        <div class="button-container">
            <button id="magic" class="btn btn-success">CLICK HERE</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/normal_views/canvas-render.js')}}"></script>
    <script>
        document.querySelector("#magic").addEventListener("click", () => {
            document.querySelector("#stage").classList.contains("magic") ? document.querySelector("#stage").classList.remove("magic") : document.querySelector("#stage").classList.add("magic")
        })
	</script>
	{% endblock %}

