<!DOCTYPE html>
<html>
<head>
<title>Edit Profile</title>
</head>

    <!-- Font Icon -->
    <link rel="stylesheet"  href="{{ url_for('static', filename='font/material-icon/css/material-design-iconic-font.min.css') }}"/>
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/normal_views/font-awesome.min.css') }}"/>
    
    <!-- Main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normal_views/registration_form.css') }}">

    <!-- Link for header -->
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/normal_views/navbar.css') }}"/>
      <link rel="stylesheet"  href="{{ url_for('static', filename='css/normal_views/indexstyle.css') }}" media="screen"/>

<script src="{{ url_for('static', filename='js/normal_views/navbarjs.js') }}"></script>
<!-- Font Icon -->

<!-- Links for main product upload page-->


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<!-- end -->

<!-- style for main product uploader form -->

<style>
/* css for dropdown */
.dropbtn {
  background-color: rgba(0,0,0,0.9);
  color: white;
  padding: 21px;
  font-size: 14px;
  border: none;
  cursor: pointer;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: -10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ff343c; color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #ff343c;}


.carousel-inner{
  height: 720px;
}

.carousel{
  height: 780px;
}

.carousel-indicators{
  top: 620px;
}

#sam{

  margin-left: 164px;
  margin-right: -116px;
}

  #carouselExampleControls{
  width: 86%;
  margin: -17% auto;
}

#hht{

  margin-top: -442px;
}

.letter,footer {
  background: black;
  color: #fff;
  padding: 1px;
  font-size: 14;
  text-align: center;
}

.row{

  margin-right: 0px;
}

#btnedt{

/*      margin-bottom: -19%;
      margin-left:-25%;*/
      border: 1px #2e3052;
      color: white;
      background-color: #2e3052;
      border-radius: 10px;
}



</style>

<header style="height: 60px;">
  <!--  Remove dark nav  -->
  <!--  Remove dark nav  -->
  <nav class="nav dark-nav">
    <div class="container">
      <div class="nav-heading">
        <button class="toggle-nav" data-toggle="open-navbar1"><i class="fa fa-align-right"></i></button>
                <a href="{{ url_for('home')}}" >
        <img src="{{ url_for('static', filename='img/asmilogo.png') }}" width="106" height="53"  alt="Logo Geeks and the City" />    
        </a>
      </div>
      <div class="menu" id="open-navbar1">
        <ul class="list">
        <!--   <li><a href="{{ url_for('home')}}">Welcome  {{current_username}}</a></li> -->

          <li><a href="{{ url_for('home')}}">Home</a></li>
          <!-- <li><a href="/product.html">Product Upload</a></li> -->
          {% if current_user.is_authenticated %}

          <!-- drop down -->
          <li>
           <div class="dropdown" style="float:right;">
              <button class="dropbtn">Contents</button>
              <div class="dropdown-content">
                <a href="{{ url_for('uploaded')}}">Uploaded Video</a>
                <!-- <a href="Generated.html">Generated Video</a> -->
                <a href="{{ url_for('analytics')}}">Analytics Files</a>
              </div>
          </li>

          <li>
            <div class="dropdown" style="float:right;">
              <button class="dropbtn">TestAPI</button>
              <div class="dropdown-content">
                <!-- <a href="#">Upload Video</a> -->
                <a href="{{ url_for('upload')}}">Upload video</a>
                <a href="{{ url_for('viewvideos_jabir')}}">View Uploaded Videos</a>
                <!-- <a href="{{ url_for('view_2d')}}">View 2d Video</a> -->
              </div>
            </div>
          </li>

         <li>
            <div class="dropdown" style="float:right;">
              <button class="dropbtn">Setting</button>
              <div class="dropdown-content">
                <a href="{{ url_for('view_profile')}}">Profile</a>
                <a href="{{ url_for('logout')}}">Logout</a>
                
                </div>
            </div>
          </li>
          {% else %}
            <li><a href="{{ url_for('login')}}">Login</a></li>
            <li><a href="{{ url_for('register')}}">Signup</a></li>
          {% endif %}
           <li><a href="{{ url_for('aboutus')}}">About Us</a></li>
          </div>
        </ul>
      </div>
    </div>
  </nav>
</header>


<body style="background-color: #f8f8f8;">
    <div class="main">

        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title"><b>Profile</b></h2>


                        <form method="POST" action="/edit-profile" class="register-form" id="register-form">



                          
                          <div class="form-group">
                            {% for message in get_flashed_messages() %}
                              <div class="alert alert-warning">
                                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                                  {{ message }}
                              </div>
                            {% endfor %} 
                          </div>

                         <div class="form-group">    
                              <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                              {{ form.name( type="text",id="name",placeholder="Name") }}
                              {% for error in form.name.errors %}
                              <br>
                              <span style="color: red;">[{{ error }}]</span>
                              {% endfor %}
                          </div>

                            <div class="form-group">    
                             <label for="age"><i class="zmdi zmdi-face"></i></label>
                              {{ form.age( type="number" ,placeholder="Age") }}
                              {% for error in form.age.errors %}
                              <br>
                              <span style="color: red;">[{{ error }}]</span>
                              {% endfor %}
                          </div>

                          <div class="form-group">  
                            <label for="email"><i class="zmdi zmdi-email-open"></i></label>
                              {{ form.contact_email1(placeholder='Contact E-mail') }}
                              {% for error in form.contact_email1.errors %}
                              <br>
                              <span style="color: red;">[{{ error }}]</span>
                              {% endfor %}
                          </div>

                          <div class="form-group"> 
                            <label for="phone"><i class="zmdi zmdi-phone"></i></label>
                              {{ form.contact_phone1(placeholder='Contact Number') }}
                              {% for error in form.contact_phone1.errors %}
                              <br>
                              <span style="color: red;">[{{ error }}]</span>
                              {% endfor %}
                          </div>


                          <div class="form-group">    
                             <label for="Advertisers"><i class="zmdi zmdi-present-to-all"></i></label>
                              {{ form.ideal_advertisers(placeholder='Ideal Advertisers(separated by commas)') }}
                              {% for error in form.ideal_advertisers.errors %}
                              <br>
                              <span style="color: red;">[{{ error }}]</span>
                              {% endfor %}
                          </div>


                          <p>
                            <div> 
                              <h4>Social Media</h4>
                            </div>
                          </p>

                          <div class="form-group">   
                            <label for="link"><img src="{{ url_for('static', filename='img/normal_views/instagram.png')}}" style="width: 18px;"></label>    
                          {{ form.link_instagram(placeholder='Instagram link') }}
                              {% for error in form.link_instagram.errors %}
                              <br>
                              <span style="color: red;">[{{ error }}]</span>
                              {% endfor %}
                          </div>

                          <div class="form-group">   
                          <label for="Reach in Instagram"><i class="zmdi zmdi-info"></i></label> 
                              {{ form.number_of_followers_instagram(placeholder='Reach in Instagram') }}
                              {% for error in form.number_of_followers_instagram.errors %}
                              <br>
                              <span style="color: red;">[{{ error }}]</span>
                              {% endfor %}
                          </div>



                          <div class="form-group">

                          <label for="link"><img src="{{ url_for('static', filename='img/normal_views/tiktok.png')}}" style="width: 18px;"></label>    
                          {{ form.link_tiktok(placeholder='Tik-tok link') }}
                          {% for error in form.link_tiktok.errors %}
                          <br>
                           <span style="color: red;">[{{ error }}]</span>
                          {% endfor %}
                          </div>


                          <div class="form-group">   
                          <label for="Reach in tiktok"><i class="zmdi zmdi-info"></i></label> 
                              {{ form.number_of_followers_tiktok(placeholder='Reach in tiktok') }}
                              {% for error in form.number_of_followers_tiktok.errors %}
                              <br>
                              <span style="color: red;">[{{ error }}]</span>
                              {% endfor %}
                          </div>




                          <div class="form-group">    
                              {{ form.submit(type="submit",id="signup",class="form-submit",value="Save Changes" )}}
                              {% for error in form.submit.errors %}
                              <br>
                              <span style="color: red;">[{{ error }}]</span>
                              {% endfor %}
                          </div>

                       </form>
                    </div>


                    <div class="signup-image">
                        <figure><img src="{{ url_for('static', filename='img/normal_views/signup-image.jpg') }}" alt=""></figure>
                       
                    </div>




                </div>

                    <div class="row" style="margin-bottom: : -20px;">

                          <button onclick="window.location.href = 'view-profile';" id="btnedt">View Profile</button>

                    </div>

            </div>
        </section>
    </div>
    <script src="{{ url_for('static', filename='js/normal_views/registrationprofile.js') }}"></script>


    <script src="{{ url_for('static', filename='js/normal_views/registration_profile.js') }}"></script>
</body>
<!-- footer -->
<footer>
<h5 class="letter">&copy; Copyright 2020, ASMI</h5>
</footer>
                <!-- end -->
</html>