 <html>

<title>ASMI</title>

     <link rel="stylesheet"  href="{{ url_for('static', filename='css/normal_views/navbar.css') }}"/>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/normal_views/indexstyle.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/normal_views/cdn.css') }}">
      <script src="{{ url_for('static', filename='js/normal_views/navbarjs.js') }}"></script>


<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- css -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,700,800" rel="stylesheet" media="screen">

   <link href="{{ url_for('static', filename='css/normal_views/bootstrap.min.css') }}" rel="stylesheet" media="screen">
   <link href="{{ url_for('static', filename='css/normal_views/default.css') }}" rel="stylesheet" media="screen">
 <link href="{{ url_for('static', filename='css/normal_views/font-awesome.min.css') }}" rel="stylesheet" media="screen">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

<!------ Include the above in your HEAD tag ---------->
<style>
/* css for dropdown */
.dropbtn {
  background-color: rgba(0,0,0,0.9);
  color: white;
  padding: 21px;
  font-size: 14px;
  border: none;
  cursor: pointer;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: -10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ff343c; color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #ff343c;}


.carousel-inner{
  height: 720px;
}

.carousel{
  height: 780px;
}

.carousel-indicators{
  top: 620px;
}

#sam{

  margin-left: 164px;
  margin-right: -116px;
}

  #carouselExampleControls{
  width: 86%;
  margin: -17% auto;
}

#hht{

  margin-top: -442px;
}

.letter,footer {
  background: black;
  color: #fff;
  padding: 1px;
  font-size: 14;
  text-align: center;
}

.row{

  margin-right: 0px;
}

</style>


<!--end-->

<!--end-->

<header style="height: 65px;">
  <!--  Remove dark nav  -->
  <nav class="nav dark-nav">
    <div class="container">
      <div class="nav-heading">
        <button class="toggle-nav" data-toggle="open-navbar1"><i class="fa fa-align-right"></i></button>
            <a href="{{ url_for('home')}}" >
        <img src="{{ url_for('static', filename='img/asmilogo.png') }}" width="106" height="53"  alt="Logo Geeks and the City" />    
        </a>
      </div>
      <div class="menu" id="open-navbar1">
        <ul class="list">
          <li><a href="{{ url_for('home')}}">Home</a></li>
          <!-- <li><a href="/product.html">Product Upload</a></li> -->
          {% if current_user.is_authenticated %}

          <!-- drop down -->
          <li>
           <div class="dropdown" style="float:right;">
              <button class="dropbtn">Contents</button>
              <div class="dropdown-content">
                <a href="{{ url_for('uploaded')}}">Uploaded Video</a>
                <!-- <a href="Generated.html">Generated Video</a> -->
                <a href="{{ url_for('analytics')}}">Analytics Files</a>
              </div>
          </li>

          <li>
            <div class="dropdown" style="float:right;">
              <button class="dropbtn">TestAPI</button>
              <div class="dropdown-content">
                <a href="#">Upload Video</a>
                <a href="{{ url_for('demoviewvideos')}}">View Video</a>
              </div>
            </div>
          </li>

           <li><a href="{{ url_for('logout')}}">Logout</a></li>
          {% else %}
            <li><a href="{{ url_for('login')}}">Login</a></li>
            <li><a href="{{ url_for('register')}}">Signup</a></li>
          {% endif %}

          </div>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- end -->

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
   
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">

      <img class="d-block w-100" src="{{ url_for('static', filename='img/normal_views/AI1.png') }}" alt="First slide">
    </div>
    
    <div class="carousel-item">
      <img class="d-block w-100" src="{{ url_for('static', filename='img/normal_views/AI2.png') }}" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  <!-----------end--------------->


  <!-- About -->
  <section id="about" class="home-section bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
            <h2>About us</h2>
            <div class="heading-line"></div>
            <p></p>
          </div>
        </div>
      </div>
      <!-- <div class="row wow fadeInUp">
        <div class="col-md-6 about-img">
          <img src="img/about-img.jpg">
        </div>
 -->
        <div class="col-md-15 content">
          <h1><b>AI-Driven tech for scaled video content monetization.</b></h1>
          <h3></h3>
         <h3><p>
            ASMI automates advertising within video content through a proprietary method of analyzing video and instantaneously inserting an ultra-contextual ad.It is the first of its kind technology, and is pivotal to some of the tougher spaces to advertise like short video platforms and streaming services. The manner in which we advertise outperforms other advertising creatives and methods including the popularly-used banners, pre-roll and post-rolls.
          </p></h3>
<!--          <h3><p>The problem ASMI is solving:</p></h3>
        <h3>  <p><i class="fas fa-arrow-right"></i> Analyzes video content at a very low cost using computer vision.</p></h3>
<h3><p><i class="fas fa-arrow-right"></i> Uses behavioral pairing algorithm to serve user-specific “contextual” ad.</p></h3>
<h3><p><i class="fas fa-arrow-right"></i> Dynamically pairs user-specific ads with video content.</p></h3>
<h3><p><i class="fas fa-arrow-right"></i> Places ad inside video frame where it is least invasive, but still prominent.</p></h3> -->
        </div>
      </div>
    </div>
  </section>

<div class="row wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
  <div class="col-md-6" style="padding: 0px;margin:0px;">
      <!-- samll caresoul -->
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">

          <img class="d-block img-fluid" src="{{ url_for('static', filename='img/normal_views/sc1.png') }}" alt="First slide">
          
        </div>
        <div class="carousel-item">
          
          <img class="d-block img-fluid" src="{{ url_for('static', filename='img/normal_views/sc2.png') }}" alt="Second slide">
          
        </div>
        <div class="carousel-item">

          <img class="d-block img-fluid" src="{{ url_for('static', filename='img/normal_views/asbin1.jpg') }}" alt="Third slide">
          
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" id="hht" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" id="hht" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- end -->


  </div>
  <div class="col-md-6 content" >
     <h4><p>The problem ASMI is solving:</p></h4>
    <h4>  <p><i class="fas fa-arrow-right"></i> Analyzes video content at a very low cost using computer vision.</p></h4>
    <h4><p><i class="fas fa-arrow-right"></i> Uses behavioral pairing algorithm to serve user-specific “contextual” ad.</p></h4>
    <h4><p><i class="fas fa-arrow-right"></i> Dynamically pairs user-specific ads with video content.</p></h4>
    <h4><p><i class="fas fa-arrow-right"></i> Places ad inside video frame where it is least invasive, but still prominent.</p></h4>
  </div>
</div>






  <!-- Team -->
  <section id="team" class="home-section bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
            <h2>Board Members</h2>
            <div class="heading-line"></div>
            <p></p>
          </div>
        </div>
      </div>
      <div class="row" id="sam">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="box-team wow bounceInUp" data-wow-delay="0.1s">

            <img src="{{ url_for('static', filename='img/normal_views/sambab.jpg') }}" alt="" class="img-circle img-responsive" />
            <h3>Sambhab Thapaliya
</h3>
            <p>Chief Executive Officer</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" data-wow-delay="0.3s">
          <div class="box-team wow bounceInUp">

            <img src=" {{ url_for('static', filename='img/normal_views/david.jpg') }}" alt="" class="img-circle img-responsive" />
            <h3>David A. Thomas
</h3>
            <p>Chief Operations Officer</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" data-wow-delay="0.5s">
          <div class="box-team wow bounceInUp">

            <img src="{{ url_for('static', filename='img/normal_views/sjjn.jpg') }}" alt="" class="img-circle img-responsive" />
            <h3>Sajjan Thapaliya</h3>
            <p>Vice President</p>
          </div>
        </div>
       
      </div>
    </div>
  </section>

  <script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
  </script>
<!-- caresoul (small ) js-->
  <script>
    
    $('.carousel').carousel({
  interval: 2000
})
  </script>


<!-- footer -->
<footer>
<h5 class="letter">&copy; Copyright 2020, ASMI</h5>
</footer>
</html>
