<!doctype html>
<html lang="en">

<head>
  {%block css %}
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/normal_views/navbar.css') }}"/>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/normal_views/cdn.css') }}">
      <script src="{{ url_for('static', filename='js/normal_views/navbarjs.js') }}"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <meta charset="utf-8" />
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
      <!-- css -->
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,700,800" rel="stylesheet" media="screen">

      <link href="{{ url_for('static', filename='css/normal_views/bootstrap.min.css') }}" rel="stylesheet" media="screen">
      <link href="{{ url_for('static', filename='css/normal_views/indexstyle.css') }}" rel="stylesheet" media="screen">
      <link href="{{ url_for('static', filename='css/normal_views/default.css') }}" rel="stylesheet" media="screen">
  {% endblock %}
  {%block js %}
  
  {% endblock %}
  
  <title>{% block title %}{% endblock %}</title> 
</head>

<body>
    {%block js %}
  
  {% endblock %}
</body>

</html>