<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normal_views/style1_jabir_integrated.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normal_views/canvas_jabir_integrated.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">



    <title>ASMI</title>




    <link rel="stylesheet"  href="{{ url_for('static', filename='css/normal_views/navbar.css') }}"/>


<style>
/* css for dropdown */
.dropbtn {
  background-color: rgba(0,0,0,0.9);
  color: white;
  padding: 21px;
  font-size: 14px;
  border: none;
  cursor: pointer;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: -10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ff343c; color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #ff343c;}


.carousel-inner{
  height: 720px;
}

.carousel{
  height: 780px;
}

.carousel-indicators{
  top: 620px;
}

#sam{

  margin-left: 164px;
  margin-right: -116px;
}

  #carouselExampleControls{
  width: 86%;
  margin: -17% auto;
}

#hht{

  margin-top: -442px;
}

.letter,footer {
  background: black;
  color: #fff;
  padding: 1px;
  font-size: 14;
  text-align: center;
}

.row{

  margin-right: 0px;
}

</style>







 <header style="height: 60px;">
  <!--  Remove dark nav  -->
  <!--  Remove dark nav  -->
  <nav class="nav dark-nav">
    <div class="container">
      <div class="nav-heading">
        <button class="toggle-nav" data-toggle="open-navbar1"><i class="fa fa-align-right"></i></button>
                <a href="{{ url_for('home')}}" >
        <img src="{{ url_for('static', filename='img/asmilogo.png') }}" width="106" height="53"  alt="Logo Geeks and the City" />    
        </a>
      </div>
      <div class="menu" id="open-navbar1">
        <ul class="list">
        <!--   <li><a href="{{ url_for('home')}}">Welcome  {{current_username}}</a></li> -->

          <li><a href="{{ url_for('home')}}">Home</a></li>
          <!-- <li><a href="/product.html">Product Upload</a></li> -->
          {% if current_user.is_authenticated %}

          <!-- drop down -->
          <li>
           <div class="dropdown" style="float:right;">
              <button class="dropbtn">Contents</button>
              <div class="dropdown-content">
                <a href="{{ url_for('uploaded')}}">Uploaded Video</a>
                <!-- <a href="Generated.html">Generated Video</a> -->
                <a href="{{ url_for('analytics')}}">Analytics Files</a>
              </div>
          </li>

          <li>
            <div class="dropdown" style="float:right;">
              <button class="dropbtn">TestAPI</button>
              <div class="dropdown-content">
                <!-- <a href="#">Upload Video</a> -->
                <a href="{{ url_for('upload')}}">Upload video</a>
                <a href="{{ url_for('viewvideos_jabir')}}">View Uploaded Videos</a>
                <!-- <a href="{{ url_for('view_2d')}}">View 2d Video</a> -->
              </div>
            </div>
          </li>

         <li>
            <div class="dropdown" style="float:right;">
              <button class="dropbtn">Setting</button>
              <div class="dropdown-content">
                <a href="{{ url_for('view_profile')}}">Profile</a>
                <a href="{{ url_for('logout')}}">Logout</a>
                
                </div>
            </div>
          </li>
          {% else %}
            <li><a href="{{ url_for('login')}}">Login</a></li>
            <li><a href="{{ url_for('register')}}">Signup</a></li>
          {% endif %}
           <li><a href="{{ url_for('aboutus')}}">About Us</a></li>
          </div>
        </ul>
      </div>
    </div>
  </nav>
</header>

    <!-- end -->

    <body>
        <div class="container-player">
            <div id="mediaPlayer">

                <div class="lds-ring" id=preload></div>

                <div class="container1">
                    <div class="padding-container">
                        <div class="selector" id="selector"></div>
                    </div>
                    <div class="video-container-outer">
                        <div class="video-stage" id="stage">
                            <div class="interaction-overlay" id="interaction_overlay"></div>
                            <canvas id="market_overlay" width="100" height="100" class="market-overlay overlay-video"></canvas>
                            <video id='video' preload>
                                <source src="{{ url_for('static', filename='video/uploaded/20200229085730Angrezi Medium.mp4') }}">
                                <source src='' type='video/webm'>
                            </video>
                        </div>

                        <div id="controls">
                            <button id=play class="fas fa-pause"></button>
                            <button id=audioVolume class="fas fa-volume-off"></button>
                            <div id="progressBar">
                                <div id="progress"></div>
                            </div>
                            <div id="timer">
                                <span id="start"> 0 : 00</span>
                            </div>
                            <!--  <button id=expand><i class="fas fa-expand"></i></button> -->
                        </div>


                        
                    </div>
                </div>
                
                <div id="controls">
                    <button id=play class="fas fa-pause"></button>
                    <button id=audioVolume class="fas fa-volume-off"></button>
                    <div id="progressBar">
                        <div id="progress"></div>
                    </div>
                    <div id="timer">
                        <span id="start"> 0 : 00</span>
                    </div>
                    <!--  <button id=expand><i class="fas fa-expand"></i></button> -->
                </div>
            </div>
            <div id="playlist" style="border: 5px solid ; ">
            </div>

        </div>

        <script src="{{ url_for('static', filename='js/normal_views/canvas-render-jabir-integrated.js') }}"></script>
        <script src="{{ url_for('static', filename='js/normal_views/main-jabir-integrated.js') }}"></script>
        <script>
            window.onload = async _ => {
                if(!window.myjson) {
                    // Fallback to the source/all.json 
                    // const response = await fetch("source/all.json")
                    // window.myjson = await response.json()

                    // var response = {{pageinfojson|tojson }}
                    window.myjson = {{pageinfojson|tojson }}
                }
                // Get the current video info object from the global variable.
                const { current_video_info } = window.myjson
                console.log(current_video_info)
                // Get the JSON URL.
                const { current_video_json } = current_video_info
                console.log(current_video_json)
                // Initialize the injector using the JSON URL we just got.
                window.injector.init(current_video_json)
                player.init()
            }

            // Added for redirect
            function reload(videoid){
                window.location.href = '/viewvideos?videoid='+videoid;
            }

        </script>
    </body>

</html>